{
    "presets": [
        ["@babel/preset-env",{
            "targets": {
                "browsers": "ie 6.0"
            },
            "useBuiltIns": "usage",
            "corejs": 3
        }]
    ]
}